#skill_tile #image,
#skill_tile2 #image {
  /* background: #000; */
  /* height: 100%; */
  width: 80px;
  height: 80px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* display: flex;
  align-items: center; */
}

#skill_tile #image_div,
#skill_tile2 #image_div {
  /* height: 100%; */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin-bottom: 20px;
  /* background: #000; */
  /* padding: 20px; */

}

#skill_tile {
  background: #f9f9f9;
  padding: 30px;
  /* margin-right: 10px; */
  border-radius: 4px;
  /* margin-left: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 120px;
  text-decoration: none;
  margin-bottom: 10px;
}

#skill_tile2 {
  background: #f9f9f9;
  padding: 30px;
  /* margin-right: 10px; */
  border-radius: 4px;
  /* margin-left: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 90%;
  /* margin-right: 10px; */
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

#skill_tile3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 120px;
  text-decoration: none;
  font-size: 90%;
}

#skill_tile:hover {
  border: 1px solid black;
}

#skill_tile3 .myText {
  /* white-space: nowrap; */
  /* overflow: hidden; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
