@import "../../../index.css";

#appnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002245;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}

#app_logos_div{
  /* background: #000; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#app_logos_div img{
  /* flex: 1; */
  height: 100px;
  /* width: 100px; */
}
#appnav:hover {
  /* background: rgb(244, 244, 244); */
}

#left {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #000; */
}

#right {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}

#app_nav_logo {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app_nav_logo img {
  height: auto;
  width: 150px;
}

@media (min-width: 1201px) and (max-width: 1920px) {
}

@media (min-width: 1025px) and (max-width: 1200px) {
  #app_nav_logo img {
    width: 100px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #app_nav_logo img {
    width: 90px;
  }


}

@media (min-width: 481px) and (max-width: 878px) {
  #appnav {
    display: none;
  }

  #app_nav_logo img {
    height: auto;
    width: 100px;
  }
  #app_logos_div p{
    display: none;
  
  }
}

@media (min-width: 220px) and (max-width: 576px) {
  #appnav {
    display: none;
  }
  #app_logos_div p{
    display: none;
  
  }
}

@media (max-width: 219px) {
  #appnav {
    display: none;
  }
}
